###########################
# DEPENDENCIES            #
###########################

POSTGRES_USER=user
POSTGRES_PASSWORD=MOT_DE_PASSE_ICI
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=MOT_DE_PASSE_ICI
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=MOT_DE_PASSE_ICI
ELASTIC_MEMORY_SIZE=4G

# Emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=MOT_DE_PASSE_ICI
SMTP_AUTH=true
SMTP_SSL_ENABLE=true
SMTP_STARTTLS_ENABLE=false
IMAP_HOST=
IMAP_PORT=993
IMAP_USERNAME=
IMAP_PASSWORD=MOT_DE_PASSE_ICI
IMAP_AUTH=true
IMAP_SSL_ENABLE=true
IMAP_STARTTLS_ENABLE=false

###########################
# COMMON                  #
###########################

XTM_COMPOSER_ID=
COMPOSE_PROJECT_NAME=xtm

###########################
# OPENAEV                 #
###########################

OPENAEV_HOST=localhost
OPENAEV_PORT=8080
OPENAEV_EXTERNAL_SCHEME=http
OPENAEV_ADMIN_EMAIL=
OPENAEV_ADMIN_PASSWORD=MOT_DE_PASSE_ICI
OPENAEV_ADMIN_TOKEN=MOT_DE_PASSE_ICI
OPENAEV_HEALTHCHECK_KEY=
OPENAEV_ADMIN_ENCRYPTION_KEY=
OPENAEV_ADMIN_ENCRYPTION_SALT=
OPENAEV_MAIL_IMAP_ENABLED=false

###########################
# OPENAEV COLLECTORS      #
###########################

COLLECTOR_MITRE_ATTACK_ID=
COLLECTOR_OPENAEV_ID=
COLLECTOR_ATOMIC_RED_TEAM_ID=
COLLECTOR_NVD_NIST_CVE_ID=
COLLECTOR_NVD_NIST_CVE_API_KEY= #Optionnal but recommended

###########################
# OPENAEV INJECTORS       #
###########################

INJECTOR_NMAP_ID=
INJECTOR_NUCLEI_ID=
